@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Homepage";
}

<!--about me-->
<h1>Ike Melanson</h1>
<img src="img/ThailandClimbing.jpeg" class="myImage" />

<p>
    What I want to get out of this class: I really want to learn
    some hard skills that will help me get a job or internship. Learning
    things like .NET and React.js will be very helpful.
</p>

<ol>
    <li>Full-Stack Developer</li>
    <li>BI Developer</li>
    <li>Database Engineer</li>
</ol>
